* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: #fff;
  color: black;
  font: 400 18px "Roboto", sans-serif;
  min-height: 100vh;
}

button {
  cursor: pointer;
}